
/* basic */
/* header */

header{
  height: 3rem;
  background-image: linear-gradient(135deg,  #1a1a1a,  #333333);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: #27f060 2px solid;
  position: relative;
}
.links{
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.logo div{
  height: 25%;
  width: 65%;
  margin-bottom: 10%;
  transform: rotateZ(-15deg);
  }
.logo, .projectLink, #asideDi{
      height: 3rem;
      width: 3rem;
  }

#asideDi{
  padding: .7rem;
  z-index: 1004;
  /* background: #303832; */
  /* background-color: #333333; */
  border-radius: .3rem;
  transition: .1s linear;
  cursor: pointer;
}
.projectLink img, #asideDi img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#miniProfile{
  position: absolute;
  padding: 1rem;
  top: 3rem;
  right: 1rem;

  display: none;

  background: rgba(149, 255, 193, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  background-image: linear-gradient(135deg,  #f0f0f0,  #ffffff);

  
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  z-index: 1005;
}

#miniProfileDi div {
  pointer-events: none;
  /* padding: .2rem; */
}
#miniProfileDi {
  padding: .1rem;
}
#miniProfileDi img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.logged, .notlogged, .halfLogged{
  display: none;
}

/* not logged */
#register, #signin{
  /* background: #22c7519a; */
  background: #22c751;
  background: #68F690;
  background-image: linear-gradient(135deg,  #68F690,  #22c751);

  border-radius: .5rem;
}
/* logged */
#currentAccount{
  text-decoration: none;
  color: black;
}
#currentAccountImgDi{
  background-position: center;
  background-size: cover;
}


.currentAccount .accountImg{
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

#byGoogle{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* half logged */


#redArrow{
  display: none;
  position: absolute;
  top: 1rem;
  /* left: 3.5rem; */
  left: 4rem;
  transform: rotateZ(-140deg);
  z-index: 1010;
  height: 7rem;
  width: 7rem;
  transition: opacity 3s;
}




/* main */

main{
  position: relative;
}

#pinProfile{
  position: absolute;
  top: -2.5rem;
  max-height: auto;
  width: 84%;
  background: rgb(123, 255, 163);
  border-radius: .6rem;
  display: none;
}
#beforeandafter{
  /* justify-content: space-between; */
  gap: 1.5rem;
  /* width: 100%; */
  /* background-color: red; */
  /* height: 100%; */
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  /* flex-direction: row; */
}
#beforeImgs, #afterImgs{
  /* display: flex; */
  gap: .3rem;
  /* background: rgb(150, 255, 181); */
  /* height: 90%; */
  /* width: 90%; */
  /* flex-direction: row; */
  overflow-x: scroll;
  display: flex;
  /* height: 90%; */
  width: 90%;
}
#beforeImgs img, #afterImgs img{
  /* min-height: 100%; */
  min-height: 20vh;
  min-width: 33%;
}
#moreinfo{
  /* height: 2rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  /* padding: .5rem; */
  /* font-size: 1.4rem; */
  /* background: rgb(105, 255, 105); */
  /* background: red; */
  /* border-radius: 1rem; */
}



#log{
  display: none;
  height: 6rem;
  background: #29D659;
  /* z-index: 1002; */
}
#loggedContent{
  height: 100%;
  display: flex;
  gap: .3rem;
  /* background: green; */
  /* background: red; */
  overflow: hidden;
  
}
.loggedCamp{
  height: 100%;
  position: relative;
}
.loggedCamp p{
  position: absolute;
  right: 0;
  top: 1rem;
}
.loggedCamp img{
  height: 100%;
}



#map{
  height: 92vh;
}

#displaylines{
  position: absolute;
  z-index: 1002;
  bottom: .2rem;
  left: 3vw;
  transform: translateX(-50%);
}

#suggestaddingline{
  /* all: unset; */
  /* color: #0a0a0a; */
  /* background: #29D659; */
  /* cursor: pointer; */
  display: none;
  position: absolute;
  bottom: .2rem;
  left: 7vw;
  z-index: 1002;
}


/* form-di */

#controllersDi{
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1002;
  /* padding: .6rem; */
  border-radius: 5rem;
  font-size: 1.3rem;
  /* padding: 1rem; */
  /* height: 2rem; */
  /* width: 2rem; */
  line-height: 0;
  cursor: pointer;
  background-color: #54db7b;
  /* background-image: url('./imgs/leaflogo.png'); */
  /* background: #a0f7b9; */
  transition: .1s linear;
  /* border: #29D659 2px solid ; */
}
#controllersDi:hover{
  background: #27f060;
}
#displayControllers{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: .2rem;
  bottom: .2rem;
  z-index: 1002;
  /* padding: 1rem; */
  gap: .1rem;
  /* background: red; */

  /* glass form */
  background: rgba(149, 255, 193, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
#displayControllers button{
  padding: .2rem;
  border: 1px black solid;
}

.addBtn img{
  /* height: 2rem; */
  /* display: inline; */
  pointer-events: none;
}




.form{
  /* background: rgb(105, 255, 105); */
  /* background: #27f060; */
  background: #54db7b;
  /* max-width: 80%; */
  /* font-size: 1.2rem; */
  border-radius: .2rem;
  position: absolute;
  bottom: .1vh;
  left: .1vw;
  z-index: 1002;

}
.form input[type=file]{
  display: none;
}
.form *{
  margin: .1rem;
  font-size: 1.2rem;
}

.form div{
  background: #a0f7b9;
  border-radius: .6rem;
  transition: 1s linear;
}
.subForm{
  display: none;
}
.subForm button{
  /* background-repeat: no-repeat; */
}

.namesInput{
  position: relative;
  /* background: red; */
  /* padding: 1rem; */
}
.namesInput input{
  width: 16rem;
}

.suggestedAccounts{
  top: -10rem;
  height: 10rem;
  width: 18rem;
  background: rgb(186, 255, 186);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.suggestedAccounts img{
  height: 2rem;
  width: 2rem;
}
.suggestedAccount{
  width: 100%;
  /* text-align: center; */
  border: 1px rgb(19, 19, 19) solid;
  /* box-sizing: border-box; */
  /* padding: 0 1rem 0 0 ; */
  background: #C0F9D0;
  transition: .2s linear;
  cursor: pointer;
}
.suggestedAccount:hover{
  background: #54db7b;
}
.suggestedAccount .userName, .suggestedAccount .accountImg{
  pointer-events: none;
}



/* main; message */


#messages{
  /* position: absolute; */
  position: fixed;
  top: 5rem;
  right: 50vw;
  text-align: center;
  z-index: 1005;
}
#messages div{
  display: none;
}

.nextPinsCounterDiv{
  background: #C0F9D0;
  background: #181818;
  color: white;
  position: absolute;
  top: .1rem;
  left: .1rem;
  z-index: 1010;
  padding: .2rem;
  border-radius: .2rem;
}


#findMe{
  position: absolute;
  bottom: 3rem;
  left: .1rem;
  z-index: 1001;
  border-radius: 50%; 
  padding: .1rem;
}


/* aside */
aside{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  background: #1a1a1a8c;
  background-image: linear-gradient(180deg,  #33333362,  #088f2a70);

  top: 0;
  /* height: 100vh; */
  width: 100vw;
  margin-top: 3rem;
  gap: 1rem;

  z-index: 1003;
}




/* leaderboard */
.leaderBoard{
  margin-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  max-height: 65vh;
  /* overflow-y: scroll; */
  background: #242424;
  background-image: linear-gradient(135deg,  #1a1a1a,  #2b2b2b);

  border: #27f060 1px solid;
  max-height: 70vh;
  /* box-sizing: border-box; */
  overflow: scroll;
}

.leaderBoard button{
  background-repeat: no-repeat;
}

#leaderBoardImg{
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 11rem;
  width: 13rem;
  z-index: 1010;
}

.rankingSections button{
  background: #33a353;
  padding: .2rem;
  cursor: pointer;
  border-radius: .2rem;
  /* width: fit-content; */
}

.rankingHeader{
  display: flex;
  flex-direction: row;
  background: #0a0a0a;
  justify-content: space-between;
}
.rankingHeader img{
  min-height: 3rem;
  min-width: 3rem;
}
.rankingHeader button{
  padding: 1rem;
  width: 100%;
  width: fit-content;
}

.rankedAccount{
  border: #0a0a0a 2px solid;
  display: flex;
  justify-content: space-between;
  color: white;
  /* background: #242424; */
  background-image: linear-gradient(135deg,  #1a1a1a,  #2b2b2b);

  gap: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}
.rankedAccount .account{
  color: white;
}
.points{
  display: flex;
  width: 7rem;
  justify-content: space-between;
  
}
.point{
  text-align: center;
  font-size: 2rem;
}
.ranking{
  display: flex;
  flex-direction: column;
  background: #29D659;
  border: #a0f7b9 2px solid;
  padding: .3rem;
}
.rankedAccount .accountImg{
  min-height: 2rem;
  min-width: 2rem;
}
.rankedAccount h3{
  line-height: 0;
}
.rankedAccount .account:hover{
  background: #3ac962;
}


#shordDescription{
  margin: 5rem;
  font-weight: bold;
  padding: 1rem;
}



/* footer */
footer{
  min-height: 20vh;
  background-image: linear-gradient(45deg,  #1a1a1a,  #292929);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: #27f060 2px solid;
  gap: 3rem;
  width: 100%;
  padding: 3rem;
}


.sindibadIcons{
  height: 6rem;
  width: 6rem;
  position: absolute;
  bottom: -3rem;
  left: -1rem;
  z-index: 3;
}

.contact, .statics, .features{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 15vh;
  border-radius: .5rem;
  transition: .1s linear;
  background: white;
  padding: 1rem;
  position: relative;
}

.contact:hover, .features:hover, .statics:hover{
  box-shadow: 3px 3px 0px 0px  #29D659;
}
.logoPart{
  /* background: red; */
  height: 1rem;
  width: 2rem;
  margin-top: 1rem;
  transform: rotateZ(-15deg);
  z-index: 1001;
}
.features li img{
  all: unset;
  height: 3rem;
  /* width: 3rem; */
}


.projectsInfo{
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: .3rem;
}

.projectStatics{
  background: #54db7b;
  background-image: linear-gradient(135deg, #6ada89, #3ac962 );
  /* background: red; */
  border-radius: .3rem;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.statics li b{
  color: red;
}
.statics img{
  /* height: 1rem; */
}
.statics li{
  background: #C0F9D0;
  background-image: linear-gradient(135deg, #9cffb8, #54ff85 );

  border-radius: .4rem;
  margin-bottom: .2rem;
}


.features{
  width: fit-content;
}
.features img{
  /* height: 1rem; */
}
.features li b{
  color: red;
}
.features li{
  direction: rtl;
  background: #1a1a1a;
  color: white;
  margin: .1rem;
  padding: .3rem;
  border-radius: .3rem;
  list-style-type: none;

}

/* elements */
body{
  margin: 0;
  overflow-x: hidden;
}

main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
  direction: rtl;
}

body *{
  box-sizing: border-box;
  font-family: 'Prosto One', 'Changa';
  font-size: .8rem;
}
img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2rem;
  pointer-events: none;
}
input[type=text]{
  font-size: 1rem;
}
input[type=file]{
  display: none;
}
a{
  text-decoration: none;
  color: black;
  display: inline-block;

}
button{
  background-position: center;
  background-size: contain;
}


::-webkit-scrollbar{width:6px;border-left:1px solid #292929;}
::-webkit-scrollbar-thumb{background-color: #33a353;}




/* shared */
.logged, .makeprofile, .notlogged{
  display: none;
}
.team{
  display: none;
}

.en{
  display: none;
  pointer-events: none;
}
.ar{
  pointer-events: none;
}

.box{
  background-color: #27f060;
  /* background-image: linear-gradient(135deg,  #27f060, #22c751); */
  background-image: linear-gradient(135deg,  #27F060,  #21C24F);

  padding: .5rem;
  border-radius: .5rem;
  transition: .1s linear;
  cursor: pointer;
}
.bbox{
  /* background-color: #27f060; */
  /* background-image: linear-gradient(135deg,  #27f060, #22c751); */
  /* background-image: linear-gradient(135deg,  #000000,  #161616); */
  background-image: linear-gradient(135deg,  #1a1a1a,  #333333);


  padding: .5rem;
  border-radius: .5rem;
  transition: .1s linear;
  cursor: pointer;
}
.box img{
  /* height: 100%; */
}

.box:hover{
  background-color: #33a353;
  border-radius: .7rem;
}
.bbox:hover{
  background-color: #464646;
  background-image: linear-gradient(135deg,  #141414,  #2e2e2e);

  border-radius: .7rem;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.account{
  display: flex;
  flex-direction: row;
  gap: .6rem;
  justify-content: center;
  align-items: center;
  transition: .1s linear;
  cursor: pointer;
}
.accountImg{
  border-radius: 50%;
  border: #0a0a0a 1px solid;
}

.on{
  background: #1b1b1b;
  color: white;
}
.on:hover{
  background: #333333;
}
.on2{
  /* background: #1bf057; */
  background-image: linear-gradient(135deg,  #27F060,  #21C24F);

}

.red {
  background: #ff2a2a;
  background-image: linear-gradient(135deg,  #ED2121,  #CD1A1A);
}

.green {
  background: #27f060;
  background-image: linear-gradient(135deg,  #27F060,  #21C24F);
}

.black {
  background: #1b1b1b;
  background-image: linear-gradient(135deg,  #1A1A1A,  #0E0E0E);
}

.white {
  background: rgb(245, 245, 245);
  background-image: linear-gradient(135deg,  #F5F5F5,  #DEDEDE);
}

/* mobile */

@media all and (max-width: 500px){
  header{
      gap: .3rem;
  }
  .links{
      gap: .3rem;
  }
  .links a, .links button{
      height: 2rem;
      width: 2rem;
  }
  #miniProfile{
      margin: 2rem;
  }
  main{
      flex-direction: column;
  }
  body *{
      font-size: .8rem;
  }
  footer{
      flex-direction: column;
      /* gap: .2rem; */
  }
  .contact, .features, .statics{
      width: 90vw;
  }
    /* leaderboard */
  .leaderBoard{
      width: 90vw;
  }
  .rankingHeader{
      /* height: 2rem; */
  }
  .rankingHeader button:first-child{
      /* padding: auto; */
      /* width: auto; */
      /* line-height: 0; */
  }
  .box, .bbox{
      padding: .2rem;
  }
  
  #leaderBoardImg{
      /* top: 27rem; */
      /* right: 0rem; */
      height: 7rem;
      width: 9rem;
  }
  #shordDescription{
      margin: 1rem;
      font-weight: bold;
      padding: .5rem;
  }
  #redArrow{
  left: 3.5rem;
  }
}





